@import "utils/vars";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}



.authors {
  margin-bottom: 50px;
  &__title {
    font-family: $primaryFont;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3vw;
    }
    @media screen and (max-width: $phoneWidth) {
      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3vw;
      }
    }
  }
  &__description {
    max-width: 550px;
    margin: 0 20px;
    text-align: justify;
    .description__img {
      height: 500px;
      .image {
        width: 100%;
        transform: scale(1);
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.contents {
  &__title {
    font-family: $primaryFont;
    font-size: 30px;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 15px 0 0;
  }
  &__list {
    max-width: 550px;
    padding: 0;
    list-style-type: none;
    .list__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: minmax(150px,500px) 30px;
      }
      &:last-child {
        .item__title {
          margin-left: 0;
        }
      }
      .item__num {
        display: block;
        position: absolute;
      }
      .item__title {
        margin-right: 30px;
        margin-left: 40px;
      }
      .item__page {
      }
    }
  }
}

.real-contents{
  margin-bottom: 34px;
  &__text{
    max-width: 700px;
    margin: 0 0 20px auto;
    text-align: justify;
  }
  &__subtitle{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contents__list{
    margin: 0 0 0 auto;
  }
  .list__item{
    margin: 0 0 10px 0;
    .item__title{
      margin: 0;
    }
  }
}

.footer{
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
