html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img, audio, video {
  max-width: 100%;
  height: auto; }

audio, canvas, iframe, video, img, svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px; }

.grid {
  display: grid; }

.title {
  font-size: 18px; }

.subtitle {
  font-size: 16px; }

.margin-from-title {
  margin-top: 16px; }

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #383838; }

header {
  padding: 10px;
  background-color: #ccc; }
  header .container {
    padding-bottom: 20px; }

.logo {
  display: flex; }
  .logo__img {
    width: 70px;
    height: 70px;
    background-color: #fff; }
  .logo__text {
    color: #6b6b6b;
    text-transform: uppercase;
    margin-left: 10px; }
    .logo__text h1 {
      font-size: 24px; }
    .logo__text h2 {
      font-size: 14px; }

.navbar {
  background-color: #383838; }
  .navbar-list {
    display: flex; }
    .navbar-list .item > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      background-color: #383838;
      color: #fff;
      transition: all 0.2s;
      padding: 20px 0;
      cursor: pointer; }
      .navbar-list .item > *:hover {
        background-color: #fff;
        color: #383838; }

.main-content {
  display: flex; }
  .main-content__menu {
    padding: 10px;
    background-color: #ccc; }
    .main-content__menu ul .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 35px;
      background-color: #383838;
      color: #fff;
      transition: all 0.2s;
      cursor: pointer; }
      .main-content__menu ul .item:hover {
        background-color: #fff;
        color: #383838; }
      .main-content__menu ul .item:hover {
        text-decoration: underline; }
  .main-content .content {
    margin: 20px 0 0 10px; }
    .main-content .content__text {
      margin-top: 10px; }
    .main-content .content .subtitle {
      margin-top: 16px; }
    .main-content .content .content__list {
      margin-top: 10px;
      padding-left: 40px; }
      .main-content .content .content__list .item {
        list-style-type: disc; }

footer {
  position: absolute;
  width: 100vw;
  height: 25px;
  background-color: #383838;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
